* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
header {
  background-color: darkkhaki;
  padding: 3rem;
  font-size: 3rem;
}
nav.sticky {
  background-color: aquamarine;
  padding: 1rem;
  position: sticky;
  top: 0rem;
  z-index: 10;
}
div.fixed {
  background-color: rgb(10, 228, 83);
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 2.3rem;
  /* text-align: center;
  padding-top: 0.2rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
footer {
  background-color: darksalmon;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
