.contact {
  width: 100%;
  height: 90vh;
  display: flex;
}
.left-side {
  height: 100%;
  flex: 50% 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-side {
  height: 100%;
  flex: 50% 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-side h1 {
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
}
form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}
form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}
form textarea {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}
.contact-button {
  margin-top: 15px;
  padding: 8px;
  background-color: brown;
  color: white;
  width: 150px;
}
