.menu-list {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.menu-item {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.menu-item div {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
