body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: flex;
  flex-direction: row;
  /* border-bottom: ; */
}
.navbar .main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.navbar .main img {
  height: 70px;
  margin: 10px;
}
.navbar .nav-link {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.mainPage {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: left;
  flex-direction: column;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.order {
  width: auto;
  margin-left: 50px;
  margin-bottom: 50px;
}
