.box {
  border: 2px solid indigo;
  margin-bottom: 7rem;
  width: 20rem;
  height: 7rem;
}
.box1 {
  overflow: visible;
}
.box2 {
  overflow: hidden;
}
.box3 {
  overflow: scroll;
}
.box4 {
  overflow: auto;
}
