* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.containerr {
  /* justify-content: center; */
  box-shadow: 0 0 12px;
  border-radius: 8px;
  padding: 1rem;
  width: 40%;
  height: 50;
}
input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
}
.btnn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 10px 0;
  /* border: 1px solid red; */
  color: white;
  background-color: black;

  border-radius: 8px;
  &:hover {
    opacity: 0.9;
  }
}

.btn-outline {
  background-color: rgb(98, 91, 91);
  color: white;
}
.center {
  text-align: center;
  margin: 24px 0;
}
p {
  margin: 10px 0;
}
.img-container {
  height: 230px;
  text-align: center;
}
