* {
  margin: 0;
}

.container {
  background-color: aqua;
  /*! Bir blok element icerinde inline elementler var ise bunlar text-align ile hizalanabilir. Blok element icerisindeki blok elementler text align ile hizalanamaz. */

  text-align: center;
  margin: 10px auto;
  padding: 2px;
}

.div {
  background-color: rgb(141, 141, 223);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  border-radius: 20px;
  margin: 10px auto;
}
