@import "theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  border: 1px solid red;
  max-width: 1200px;
  margin: 2rem auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 1rem;
}

button {
  border: 2px solid var(--red-dark);
  border-radius: 5px;
  box-shadow: var(--shadow-light);
  padding: 1rem 1.5rem;
  font-family: var(--ff-yeon);
  font-size: var(--fs-lg);
  margin: 1rem 0.5rem;
  white-space: nowrap;
}
nav img {
  width: 200px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-light {
  background-color: var(--white);
  color: var(--red-dark);
}
.btn-dark {
  background-color: var(--red-dark);
  color: var(--white);
}
header.hero {
  display: flex;
}
header.hero img {
  width: 400px;
}
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .section-btn {
    display: flex;
    flex-direction: column;
  }
  .section-btn button {
    margin: 0.5rem;
    width: 250px;
  }
}
